* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.column-left {
    float: left;
    background-color:#B4A4A4;
    padding: 0px 20px;
    width: 20%;
    height: 100vh;
}

.column-right {
    float: left;
    background-color:#e0e0d0;
    padding: 0px 20px;
    width: 80%;
    height: 100vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}