* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.column-left {
    float: left;
    background-color:#C4B4B4;
    padding: 0px 40px;
    width: 25%;
    height: 100vh;
    overflow: auto;
}

.column-right {
    float: left;
    background-color:#e0e0d0;
    padding: 0px 20px;
    width: 75%;
    height: 100vh;
    overflow: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}